h1{
    padding-top:50px;
    text-align: center;
    color: #28a745;
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

p{
    font-size: clamp(1em, 1em + 1vw, 1.25em);
}

@media (max-width: 4000px) { 
    .telamenor1{display: none;}
    .telaxxl1 {display:block}
    }
    
     @media (max-width: 576px) { 
    
        .telamenor1{display: block;}
        .telaxxl1 {display:none}
    
    }