*{
    list-style: none;
}

.redes-sociais{
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}

.right{
    background-color: #F24130;
}

.login{
    display: flex;
justify-content: center;
    align-items: center;
}


.form-link-cadastro{ 
display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}

.msg-error {
    color: red;
}

.msg-success {
    color: green;
} 

@media (max-width: 576px){

    .form-link-cadastro{ 
        display: none;
    }  
    .mobile{
        display: block;
    }
}

@media (min-width: 577){

    .form-link-cadastro{ 
        display: block;
    }  
    .mobile{
        display: none;
    }
  
}